@charset "UTF-8";

@font-face {
    font-family: 'fonte1';
    src: url(../fonte/TAN-Pearl-Font/tan-pearl.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #8c8c8c;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 180px;
}

.nav{
    display: flex;
}

.nav li{
    list-style: none;
    margin: 0 10px;
}

.nav li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transform: 0.3s;
    font-size: 20px;
}

.nav li:hover a{
    color: var(--primary);
}

/* LOGO */
.logo img{
    width: 55px;
    position: relative;
    margin-top: 25px;
    margin-left: 5px;
}

/* CAIXA FUNDO */


.box_profile p{
    font-size: 90px;
    margin-top: 160px;  
}

p.text1{
    margin-left: 2.5em;
    color: white;
}

p.text2 {
    color: #fafafa;
    display: block;
    margin-bottom: -290px;
    margin-left: 5.3em;
}
p.text3{
    color: #fafafa;
    display: flex;
    margin-top: 3.2em;
    margin-left: 5.3em;
}

p.text4{
    color: #fafafa;
    display: flex;
    margin-top: -3.5em;
    margin-left: 5.3em;
}

.img_profile{
    margin-top: -175px;
    height: 400px;
    margin-left: 200px;
}


/* FOOTER*/
.footer{
    padding: 5px;
    margin-top: 95px;
    padding-top: 120px;
    background-color: #72939C;
    width: 100%;
    height: 50px;
    position: relative;
}



/* SOBRE MIM */
.sobreMim{}